@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}

/* NAVIGATION */
nav {
    padding: 20px 0 60px 0;
    background: white;
    height: 200px;
    display: flex;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo p {
    margin-left: 10px;
    display: flex;
    font-size: 30px;
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight: 600;
}

nav li:hover { 
    background: #950000;
    transition:  0.3s;
}

nav li a:hover {
    color: white;
}

nav img {
    height: 150px;
}

nav ul {
    display: flex;
    margin-left: 260px;
    margin-top: 40px;
}

nav ul li {
    list-style: none;
    border: #ebe3db solid 2px;  
    height: 30px;
    width: 80px;
    background: #ebe3db;
    margin: 15px;
    text-align: center;
}


/* SLIDER */

.slider {
    height:460px;
    overflow: hidden;
    
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #4c4343;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: red;
}

input[name=r] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}


#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}




/* WELCOME */ 

h2 {
    font-family: "Merienda", cursive;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

.welcome {
    margin-top: 100px;
}

.welcome-content {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    gap: 1rem;
}

.welcome h2 {
    margin-top: 40px;
}

.welcome-img {
    width: 48%;
}


/* MENU */


.special-menu {
    margin-bottom: 80px;
    height: 700px;
}

.special-menu h2 {
    margin-top: 60px;
    margin-bottom: 60px;
}


.grid-menu {
    display: grid; 
    grid-template-columns: repeat(3,400px); 
    grid-template-rows: repeat(4,100px); 
    gap: 1rem; 
    justify-content: center;
}


#card {
    width: 400px;
    height: 650px;
    border: transparent solid 2px;
    background: #ebe3db;
    
}

#card h3 {
    font-family: "Merienda", cursive;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin: 15px 0 15px 0;
}

.meat-menu img {
    width: 100%;

}

.fish-menu img {
    width: 100%;
}

.veggie-menu img {
    width: 100%;
}

#card ul {
    margin-top: 15px;
}

#card li {
    list-style: none;
    font-size: 15px;
    border-bottom: #4c4343 dashed 0.2px;
    padding: 10px 0 10px 0;
    padding-left: 25px;
}

button {
    border: 0;
    background: #4c4343;
    height: 40px;
    width: 260px;
    margin: 15px 15px 15px 5px;
    margin-left: 80px;
    display: flex;
    color: white;
    justify-content: center;
    padding: 10px 0 10px 0;
    font-size: 1rem;
    
}

button a {
    text-decoration: none;
    color: white;
    
}

.fa-utensils {
    font-size: 18px;
    padding-right: 10px;
}

/* Survol bouton see more */

button:hover {
    background: #950000;
    transition: 0.5s;
}

/* Survol des images du menu */

.overlay-img {
    position: relative; 
    display: inline-block;
    overflow: hidden; 
  }



.overlay-img .hover-text {
   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 0;
    transition: opacity 0.25s ease-in-out; 

    background-color: rgba(76,67,67,.9);
    color: white;
    padding: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  
  .overlay-img:hover  .hover-text {
    opacity: 1; 
   
  }

  /* Encadré du prix */

  .hover-text p {
    border: 3px white solid;
    height: 300px;
    width: 330px;
    text-align: center;
  }


/* FOOTER */

.footer-top {
    background-image: url("/ressources/autres images/footer-bg.jpg");
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,200px); 
    grid-template-rows: repeat(2,100px); 
    gap: 2rem; 
    justify-content: center;
}

.footer-top h4 {
    color: white;
    font-size: 18px;
    font-family: "Merienda", cursive;
    text-align: center;
    border-bottom: white dashed 1px;
    padding: 15px;
}


.footer-top p {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    
   
}

.social-icons a {
    color: white;
    padding: 10px;
    font-size: 20px;
}


.footer-bottom {
    height: 180px;
    background: #4c4343;
    opacity: 0.9;
    position: relative;
}


.footer-bottom img {
    opacity: 1; 
    margin-top: 20px;
    margin-left: 750px;
}

.copyright {
    text-align: center;
    color: white;
    margin-top: 30px;
}